# Projeto Técnicas de programação I

## Análise exploratória de dados/Pandas

Nomes: Carolina Y. S. Goshima, Haroldo Viana e Pedro Ribeiro

Turma:

Nesse projeto trabalharemos com dados fictícios de investidores.

São 3 arquivos que devem ser carregados para responder as perguntas abaixo.

Para a entrega, coloque o notebook respondido no seu github (um por grupo)!

Informações

Cadastro:
- **id** : Identificação do investidor
- **Nome** : Nome completo do investidor 
- **Sexo** : Feminino ou masculino
- **Nasc** : Data de nascimento
- **Idade** : Idade do investidor 
- **Email** : E-mail do investidor
- **Lat_long** : Dados geográficos do investidor
- **Job** : Profisão do investidor ou do seu responsável (em inglês)
- **Estado** : Estado onde o investidor reside

Investimento:
- **id** : Identificação do investidor
- **Salario** : Renda do investidor ou seu responsável
- **Perfil** : Perfil de investimento
- **Ativo01, Ativo02, Ativo03, Ativo04, Ativo05, Ativo06, Ativo07** : O quanto de dinheiro o investidor colocou em cada ativo
- **Nota1, Nota2** : O quanto o investidor está satisfeito com nossa empresa (2 avaliações)

Lembrando que esses dados são irreais e fictícios

Arquivo cadastro.csv


Arquivo investimento.csv (dividido em 2 partes)

### Critérios de avaliação

Os seguintes itens serão avaliados:

1. Reprodutibilidade do código: seu código será executado e precisa gerar os mesmos resultados apresentados por você;

2. Clareza: seu código precisa ser claro e deve existir uma linha de raciocínio direta. Comente o código em pontos que julgar necessário para o entendimento total;

3. Explicação de todos os processos feitos e decisões tomadas

## Informações Gerais sobre o Projeto

- O projeto poderá ser desenvolvido __individualmente__ ou em __grupos com até 4 pessoas__, caos façam em grupos enviar a relação de alunos do grupo para o professor;


- Data de Entrega: 14/04/2023;

- Entrega: Através do _Class_

## 1 - Carregar os arquivos e cadastro, investimento1 e investimento2 e mostrar a quantidade de linhas de cada um, além das informações desses dataframes

In [2]:
import pandas as pd
import datetime as dt

## 2 - Juntar os dataframes de investimento1 e investimento2 em um só e ver a quantidade de linhas

In [3]:
cadastros = pd.read_csv("cadastro.csv")
investimentos_1 = pd.read_csv("investimento_parte1.csv")
investimentos_2 = pd.read_csv("investimento_parte2.csv")

In [8]:
display(cadastros.head())
display(cadastros.tail())

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado
0,id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO
1,id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF
2,id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF
3,id0000004,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF
4,id0000005,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado
38749,id0038750,Beatriz Maísa de Miranda Milani,Fem,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS
38750,id0038751,Juan dos Santos,Masc,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI
38751,id0038752,Severino Edson de Viana Loase,Masc,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR
38752,id0038753,Kim Mooshi,Masc,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ
38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masc,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL

In [12]:
display(investimentos_1.head())
display(investimentos_1.tail())
display(investimentos_1.describe())

,id,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
0,id0011529,$2.25,Agressivo,1311.38,NaN,NaN,29267.48,4993.30,NaN,506.40,73.007216,30.025005
1,id0030644,$24.57,Agressivo,1007.38,4846.66,2717.82,12532.15,4282.98,NaN,499.93,20.000123,29.477728
2,id0019311,$367.53,Moderado,1128.99,4668.94,3092.60,9777.77,4246.30,2007.83,509.50,24.901450,49.659852
3,id0036705,$23.26,Moderado,1185.26,4782.17,2669.05,14047.87,6026.84,2064.09,489.82,14.246718,29.271206
4,id0001368,$6.31,Conservador,957.64,5585.52,NaN,5067.08,4030.51,2022.61,507.39,5.922253,11.840601

,id,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
19995,id0027243,$334.62,Conservador,1406.60,5314.55,3166.72,22356.01,4993.03,NaN,508.21,NaN,81.009106
19996,id0027322,$281.18,Agressivo,857.37,6045.98,3052.01,11084.71,4678.42,NaN,506.94,48.641983,NaN
19997,id0037205,$464.70,Agressivo,NaN,NaN,3655.41,13124.58,5579.33,2188.45,511.30,74.618662,80.220031
19998,id0010187,$940.72,Conservador,1416.94,4772.79,3049.52,21053.61,6532.92,NaN,486.77,2.464077,55.905051
19999,id0009375,$56.39,Moderado,812.14,5461.14,3455.45,28370.73,4468.04,NaN,509.97,8.931671,49.578415

,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
count,15012.000000,16857.000000,16760.000000,13799.000000,16829.000000,9895.000000,20000.000000,18469.000000,18954.000000
mean,1125.757681,5148.243110,3139.165891,15136.440041,5281.172070,2317.491907,500.093471,50.098208,50.174113
std,217.080495,398.701012,394.175941,6946.544888,792.562796,239.180603,10.012402,28.952396,28.832285
min,800.070000,4500.090000,2500.010000,5000.810000,4000.140000,2000.040000,462.930000,0.003143,0.007864
25%,954.525000,4833.260000,2829.085000,9678.280000,4654.050000,2127.395000,493.320000,25.020373,25.134177
50%,1093.145000,5107.230000,3096.020000,14070.350000,5197.220000,2270.870000,500.130000,50.119452,50.242237
75%,1262.155000,5407.630000,3395.200000,19424.205000,5800.460000,2455.335000,506.892500,75.238847,74.877627
max,2068.590000,6817.340000,5212.550000,47467.730000,9052.260000,3610.050000,542.050000,99.996659,99.991247

In [13]:
display(investimentos_2.head())
display(investimentos_2.tail())
display(investimentos_2.describe())

,id,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
0,id0000859,$51483.81,Agressivo,1273.95,5080.37,3565.44,NaN,5635.72,NaN,513.38,47.599278,7.057028
1,id0022202,$457.43,Conservador,1121.09,4927.51,3911.58,5511.7,5593.40,NaN,497.28,37.353757,61.516665
2,id0002056,$93245.46,Moderado,NaN,5283.71,2914.76,NaN,4707.33,NaN,499.06,98.895407,45.197866
3,id0005674,$3044.00,Agressivo,1353.76,5827.28,2998.24,16341.7,4712.65,2007.44,515.10,50.658089,65.660735
4,id0004777,$880.30,Agressivo,NaN,5695.77,3525.98,NaN,4147.29,NaN,506.77,72.993882,55.530580

,id,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
24047,id0018222,$615.87,Conservador,933.65,5741.80,4031.59,6336.84,NaN,NaN,486.19,NaN,34.151046
24048,id0005515,$212.76,Conservador,1624.80,NaN,2689.68,21886.01,4571.79,NaN,497.47,93.032164,93.621515
24049,id0009893,$9.32,Agressivo,829.20,NaN,3831.45,NaN,4784.34,2143.79,485.33,3.120521,9.086454
24050,id0016100,$81796.74,Conservador,1587.47,4881.66,4352.03,10391.18,4695.44,2465.65,492.84,95.665966,30.164927
24051,id0027880,$38480.37,Agressivo,996.90,5604.43,2801.04,9183.62,6220.96,NaN,503.24,55.035639,57.691996

,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
count,17994.000000,20245.000000,20249.000000,16685.000000,20211.000000,11932.000000,24052.000000,22172.000000,22810.000000
mean,1129.080980,5146.837462,3141.053559,15163.012785,5286.059975,2320.358866,500.019744,49.654722,49.973616
std,219.747037,398.977137,396.580165,6993.738051,796.892363,241.972481,9.977632,28.913037,28.935261
min,800.010000,4500.050000,2500.010000,5000.930000,4000.250000,2000.040000,462.930000,0.003143,0.003341
25%,955.027500,4831.890000,2827.840000,9621.090000,4654.300000,2128.885000,493.260000,24.767894,25.015850
50%,1096.395000,5101.630000,3097.070000,14090.430000,5199.610000,2270.135000,500.120000,49.198346,49.747230
75%,1269.760000,5409.750000,3403.260000,19517.340000,5805.705000,2464.085000,506.760000,74.880010,75.164789
max,2143.050000,6990.260000,4899.990000,48744.740000,9052.260000,3639.650000,542.300000,99.991343,99.999535

## 3 - Crie um novo dataframe eliminando as linhas duplicadas

In [17]:
investimentos_total = pd.concat([investimentos_1, investimentos_2])

In [18]:
len(investimentos_total)

44052

In [19]:
investimentos_total_S_duplicados = investimentos_total.drop_duplicates()

In [20]:
len(investimentos_total_S_duplicados)

38754

## 4 - Junte o dataframe de investimento com o de cadastro
Dica: use a chave id

In [21]:
df_total = cadastros.merge(investimentos_total_S_duplicados, how='left', on="id")

In [26]:
df_total

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
0,id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,$63.67,Moderado,1174.27,4980.98,2638.24,NaN,4480.91,2329.72,480.72,79.600372,9.802620
1,id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,$21.96,Moderado,842.12,5646.09,3336.07,NaN,5624.22,2669.98,504.17,44.406893,90.512871
2,id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,$62497.64,Agressivo,818.81,5516.52,3396.64,NaN,5033.83,2229.45,523.12,44.020024,65.060941
3,id0000004,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,$99878.74,Agressivo,NaN,5258.69,3723.10,NaN,5933.91,NaN,486.05,25.597924,86.548918
4,id0000005,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,$188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38749,id0038750,Beatriz Maísa de Miranda Milani,Fem,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,$4993.49,Moderado,1001.01,5561.55,NaN,8454.99,NaN,2191.78,489.76,66.644257,6.462871
38750,id0038751,Juan dos Santos,Masc,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI,$41218.63,Moderado,1532.51,5102.84,3097.50,11243.08,4692.11,2368.93,496.02,96.987294,72.333030
38751,id0038752,Severino Edson de Viana Loase,Masc,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,$32.41,Agressivo,1163.90,4911.63,3746.62,NaN,6733.79,2338.43,504.32,32.139610,22.742974
38752,id0038753,Kim Mooshi,Masc,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ,$914.52,Conservador,NaN,5532.35,2861.32,NaN,4921.77,2024.00,500.65,98.385080,56.611838
38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masc,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,$29076.19,Moderado,981.62,4825.10,NaN,18085.88,5161.07,2257.66,507.95,29.660050,47.371606

## 5 - Ordene o dataframe pelo id, de forma crescente e redefina o índice

In [27]:
df_total_sorted = df_total.sort_values('id', ascending=True).reset_index(drop=True)
df_total_sorted

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
0,id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,$63.67,Moderado,1174.27,4980.98,2638.24,NaN,4480.91,2329.72,480.72,79.600372,9.802620
1,id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,$21.96,Moderado,842.12,5646.09,3336.07,NaN,5624.22,2669.98,504.17,44.406893,90.512871
2,id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,$62497.64,Agressivo,818.81,5516.52,3396.64,NaN,5033.83,2229.45,523.12,44.020024,65.060941
3,id0000004,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,$99878.74,Agressivo,NaN,5258.69,3723.10,NaN,5933.91,NaN,486.05,25.597924,86.548918
4,id0000005,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,$188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38749,id0038750,Beatriz Maísa de Miranda Milani,Fem,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,$4993.49,Moderado,1001.01,5561.55,NaN,8454.99,NaN,2191.78,489.76,66.644257,6.462871
38750,id0038751,Juan dos Santos,Masc,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI,$41218.63,Moderado,1532.51,5102.84,3097.50,11243.08,4692.11,2368.93,496.02,96.987294,72.333030
38751,id0038752,Severino Edson de Viana Loase,Masc,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,$32.41,Agressivo,1163.90,4911.63,3746.62,NaN,6733.79,2338.43,504.32,32.139610,22.742974
38752,id0038753,Kim Mooshi,Masc,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ,$914.52,Conservador,NaN,5532.35,2861.32,NaN,4921.77,2024.00,500.65,98.385080,56.611838
38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masc,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,$29076.19,Moderado,981.62,4825.10,NaN,18085.88,5161.07,2257.66,507.95,29.660050,47.371606

## 6 - Faça uma análise dos dados faltantes e trate-os

Mostre todas as colunas com dados faltantes, sua quantidade/porcentagem e como tratar (preencher) cada uma delas explicando sua estratégia

## 7 - Manipule os dados a seguir:
- Criar coluna "Total" somando o valor de todos os ativos por investidor
- Criar coluna "Media" com a média das notas 1 e 2
- Criar coluna "Dominio" com apenas o domínio do email (dica: separar por @)
- Mudar o nome da coluna "Salário" para "Renda" e tratar a coluna (sem caracter $ e tipo numérica)
- Mudar os dados da coluna "Sexo" para Masculino e Feminino (tente usar o map)
- Transformar os dados da coluna Media em inteiro
- Criar coluna "NPS" onde o investidor é promotor se a média das notas é maior igual a 80, neutro se a média estiver entre 50 e 80, e detrator se for abaixo de 50

## 8 - Calcule os seguintes dados
- Calcule o total investido em cada coluna Ativo (tente usar o apply)
- Qual o menor valor investido em cada ativo?
- Mostre a média e desvio padrão de cada ativo
- Qual a idade do investidor mais velho?
- Qual a mediana da coluna Média?

## 9 - Responder as perguntas abaixo

- Quantos investidores são promotores?
- Quantos investidores são do sexo feminino?
- Quantos investidores investiram mais de 16000 no Ativo04?
- Quantos investidores investiram mais de 16000 no Ativo04 e menos de 5000 no Ativo05?
- Quantos investidores do sexo feminino tem mais de 25 anos e investiu menos de 10000? (bonus: por que esse dado seria importante para a estratégia da nossa empresa?

- Quantos investidores tem em cada estado (dica: use groupby)
- Qual é a soma do total investido por cada estado?
- Como os investidores se distribuem em promotores, detratores e neutros?
- Qual é a média do total investido por promotores, detratores e neutros?